body{
  background-color: rgb(214, 213, 213);
}
form{
  background-color: white;
  width: 450px;
  height: 400px;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
  margin: 40px auto;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  transition: width 3s ,height 3s;
  
}
form:hover{
  width: 500px;
  height: 450px;
}
img{
  cursor: pointer;
}

img:hover{
  transform: scale(1.2);

}

div{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


  

h3{
 color: rgb(33, 33, 33); 
}
p{
  color: rgb(192, 192, 192);
  margin-left: 30px;
  margin-right: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cancel{
  border: 1px solid rgb(195, 195, 195);
  font-size: 15px;
  background-color: white;
}
#cancel:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(87, 87, 87);
  border: none;
  height: 50px;

}
#cancel:active{
  background-color: black;
}
#confirm{
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(50, 214, 233);
  border: none;
}
#confirm:hover{
  border: 1px solid rgb(195, 195, 195);
  background-color:rgb(58, 183, 189);
  height: 50px;


}
#confirm:active{
  background-color: rgb(19, 174, 143);
}
input{
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: height 2s;
  
}